@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $dark;
    color: $white;
    font-family: 'Open Sans', Arial, sans;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

p {
    font-weight: 400;
}